{{ define "page-content" }}
  <h1 class="cover-heading">Sign In</h1>
  <div class="col-md-6 col-md-offset-3">
    {{ range .Messages }}
      <div class="alert alert-danger">{{ . }}</div>
    {{ end }}
    <form method="post" action="/auth/login/" class="text-left">
      <div class="form-group {{ if .Form.Errors.email }}has-error{{ end }}">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" value="{{ .Form.Fields.email.Value }}">
        {{ if .Form.Errors.email }}<p class="help-block">{{ .Form.Errors.email }}</p>{{ end }}
      </div>
      <div class="form-group {{ if .Form.Errors.password }}has-error{{ end }}">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" name="password">
        {{ if .Form.Errors.password }}<p class="help-block">{{ .Form.Errors.password }}</p>{{ end }}
      </div>
      <button type="submit" class="btn btn-default">Sign In</button>
    </form>
  </div>
{{ end }}
