{{ define "page-css" }}
  <link href="{{ .Static }}dist/css/intro.min.css" rel="stylesheet">
{{ end }}

{{ define "content" }}
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand"><a href="/">ZenPager</a></h3>
            <nav>
              <ul class="nav masthead-nav">
                <li class="active">
                  <a href="/">Home</a>
                </li>
                <li>
                  <a href="/contact/">Contact</a>
                </li>
                <li>
                  <a href="/dashboard/">Dashboard</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="inner cover">
          {{ template "page-content" . }}
        </div>

        <div class="mastfoot">
          <div class="inner">
            <p>Created by <a href="http://www.ironlabs.com">IRON Labs, Inc.</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}

{{ define "page-js" }}{{ end }}
